<html>
  <head>
    <title>Demo Django on CodeRed Cloud</title>
    <style>
      body {
          font-family: sans-serif;
          padding: 0;
          margin: 0;
      }
      hr {
        border: none;
        border-top: solid #eee 4px;
      }
      .banner {
          background-color: #ff0;
          padding: 10px;
          text-align: center;
      }
      .content {
          padding: 10px;
      }
    </style>
  </head>
  <body>
    {% if settings.SHOW_BANNER %}
    <div class="banner">This is the <b>{{settings.SHOW_BANNER}}</b> environment</div>
    {% endif %}
    <div class="content">
      <h1>Demo Django on CodeRed Cloud</h1>
      <hr>
      <p>
        This is a simple Django app which runs on CodeRed Cloud and is
        automatically deployed via GitHub Actions.
      </p>
      <p>
        <a href="https://github.com/coderedcorp/demo-django">https://github.com/coderedcorp/demo-django</a>
      </p>
    </div>
  </body>
</html>
