<html>
  <head>
    <title>Demo Django on CodeRed Cloud</title>
    <style>
      body {
        font-family: sans-serif;
        padding: 20px;
      }
      hr {
        border: none;
        border-top: solid #eee 4px;
      }
    </style>
  </head>
  <body>
    <h1>Demo Django on CodeRed Cloud</h1>
    <hr>
    <p>
      This is a simple Django app which runs on CodeRed Cloud and is
      automatically deployed via GitHub Actions.
    </p>
    <p>Demo on March 10, 2022</p>
    <p>
      <a href="https://github.com/coderedcorp/demo-django">https://github.com/coderedcorp/demo-django</a>
    </p>
  </body>
</html>
